<form method="post" action="{{ path('service_delete', {'id': service.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir esse serviço??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn">Excluir</button>
</form>
