<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="w-screen h-screen bg-gray-50">
        {% block header %}
            <header class="bg-primary shadow-md sticky top-0 z-50">
                <div class="container mx-auto flex justify-between items-center p-6">
                    <div class="text-3xl font-bold text-white">Stylos Black</div>
                    <nav>
                        <a href="#" class="text-white hover:text-gray-400 font-medium">Inicio</a>
                        <a href="#" class="text-white hover:text-gray-400 font-medium">Barbeiro</a>
                        <a href="#" class="text-white hover:text-gray-400 font-medium">Trancista</a>
                        <a href="#" class="text-white hover:text-gray-400 font-medium">Contato</a>
                    </nav>
                </div>
                <div class="md:hidden">
                    <button class="text-gray-700 hover:text-blue-600 focus:outline-none" id="menu-button">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden md:hidden" id="menu">
                    <nav class="p-4 bg-white shadow-lg">
                        <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Inicio</a>
                        <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Barbeiro</a>
                        <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Trancista</a>
                        <a href="#" class="block text-gray-700 hover:text-blue-600 font-medium py-2">Contato</a>
                    </nav>
                </div>
            </header>
        {% endblock %}
        <main class="container mx-auto py-10 px-4 lg:px-0">
            {% block main %}
            {% endblock %}
        </main>

        {% block footer %}
            <!-- Footer -->
            <footer class="bg-gray-800 text-white py-8">
                <div class="container mx-auto text-center">
                    <p>© 2024 Stylos Black. Todos os direitos reservados.</p>
                    <div class="flex justify-center space-x-6 mt-4">
                        <a href="#" class="hover:text-gray-400">Facebook</a>
                        <a href="#" class="hover:text-gray-400">Instagram</a>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
